:root {
  /* first test color palette */
  --intense-purple: #2228B5;
  --dark-purple: #404282;
  --less-bright-blue: #148CE8;
  --light-brown: #EB9850;
  --dark-brown: #B55122;

  /* more aggressive theme */
  --maximum-red: #D62828;
  --prussian-blue: #003049;
  --orange: #F77F00;

  --shadow-color: 201deg 100% 7%;
  --shadow-elevation-low:
    0px 0.6px 0.6px hsl(var(--shadow-color) / 0.32),
    0px 0.8px 0.7px -1.9px hsl(var(--shadow-color) / 0.25),
    0px 1.9px 1.8px -3.8px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-medium:
    0px 0.6px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 1.3px 1.2px -1.3px hsl(var(--shadow-color) / 0.28),
    0px 3.6px 3.3px -2.6px hsl(var(--shadow-color) / 0.22),
    0px 9.7px 8.9px -3.8px hsl(var(--shadow-color) / 0.16);
  --shadow-elevation-high:
    0px 0.6px 0.6px hsl(var(--shadow-color) / 0.31),
    0px 1.5px 1.4px -0.5px hsl(var(--shadow-color) / 0.29),
    0px 2.7px 2.5px -1.1px hsl(var(--shadow-color) / 0.26),
    0px 5px 4.6px -1.6px hsl(var(--shadow-color) / 0.23),
    0px 8.9px 8.2px -2.2px hsl(var(--shadow-color) / 0.2),
    0px 15.2px 14px -2.7px hsl(var(--shadow-color) / 0.18),
    -0.1px 24.4px 22.5px -3.3px hsl(var(--shadow-color) / 0.15),
    -0.1px 37.1px 34.2px -3.8px hsl(var(--shadow-color) / 0.12);

}

* {
  box-sizing: border-box;
  margin: 0;

}

@font-face {
  font-family: Ultima;
  src: url(../assets/ultima-modern-futuristi-font/mbf-ultima-v4/mbf_ultima.woff);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* CSS based on element */


a {
  color: var(--prussian-blue);
  outline: none;
  text-decoration: none;
  padding: 2em 0em;
}

a:link {
  color: var(--orange)
}

a:visited {
  color: purple;
}

a:focus:not(.nav-link),
a:hover:not(.nav-link) {
  border-bottom: 1px solid;
}

a:active {
  color: red;
}

a[href^="http"] {
  background: url("external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

body {
  border: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-family: Ultima;
  font-size: 5vw;
}

html {
  scroll-behavior: smooth;
  /* cursor: url('/assets/cursor.png'), auto; */
}

label {
  color: var(--orange);
  font-family: study, sans-serif;
  font-size: 1.80rem;
  font-style: normal;
  font-weight: 400;
  padding: 17px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  border-radius: ;
}

main {
  overflow: hidden;
}

main>.contacts-section {
  display: flex;
}

p {
  color: var(--prussian-blue);
  font-family: study, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  margin: 4em auto auto auto;
  max-width: 597px;
}

::placeholder {
  color: rgba(247, 127, 0, .3)
}

input,
select {
  color: var(--orange);
  font-size: 1.80rem;
  margin: 1rem;
  padding: 8px;
  width: 55%;
  transition: all 250ms ease-in-out;
  border-radius: ;
  border-radius: 6px;
  border: 3px solid var(--orange);
}

select::placeholder {
  opacity: .5;
}

ul {
  list-style-type: none;
}

/* CSS Based on ID's */
#header-image {
  animation: all 5s ease 5s;
}

#submit:hover {
  color: white;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
  font-size: 1.9rem;
  border: 3px solid white;
}

#submit {
  border-radius: 5px;
  border: 3px solid var(--orange);
  padding: 1rem 1.75rem;
  background-color: var(--orange);
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  width: fit-content;
  padding: 1rem 1.75rem;
  color: white;
  box-shadow: 1.7px 1.3px 2.2px rgb(0 0 0 / 2%), 4.2px 3.1px 5.3px rgb(0 0 0 / 3%), 7.9px 5.8px 10px rgb(0 0 0 / 4%), 14.1px 10.3px 17.9px rgb(0 0 0 / 4%), 26.3px 19.2px 33.4px rgb(0 0 0 / 5%), 63px 46px 80px rgb(0 0 0 / 7%);
}

/* CSS based on classes */

.a {
  grid-column: 1 / 1;

}

.alien-icon {
  color: var(--orange);
  font-family: Ultima, sans-serif;
  font-size: .75rem;
  width: fit-content;
  text-align: center;
  margin: 0em auto 0em 2em;
  cursor: auto;
}

.alien-icons {
  display: block;
  width: 100%;
  height: fit-content;
  padding-left: 2em;
}

.animation {
  -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
}

.b {
  grid-column: 2 / 2;
}

.button-centering {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


.bold {
  font-weight: bold;
}

.brown {
  color: var(--brown);
}

.red {
  color: var(--maximum-red)
}

.c {
  grid-column: 3 / 3;
}

.ca {
  background-color: transparent;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  color: white;
  display: block;
  height: 5vh;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateX(calc((-50% / (100vw / 5))));
  width: 60%;
  min-width: calc((100vw / 5) + 35px);
  z-index: 10;
  transition: all 500ms ease-in-out;
}

.ca:hover,
.ca:focus {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
}

.call-to-action--title {
  transition: color 2s ease-in-out, box-shadow 2s ease-in-out;
  margin: 20vh 0 0 0;
  padding: 1vw 2vw 1vw 3vw;
}

.catalog-section-container {
  box-shadow: inset 0px 0px 0px 0px var(--prussian-blue);
  color: var(--prussian-blue);
  margin: 0 -.25rem;
  margin-left: 50%;
  padding: 0 .25rem;
  position: relative;
  text-align: left;
  transition: color 2s ease-in-out, box-shadow 2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3D(0, 0, 0);
  width: 50%;
}

.entry-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-content: flex-start;
}



.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(-2px);
  z-index: 0;
}

.dark-blue {
  color: var(--dark-blue);
}

.dark-dark-blue {
  color: var(--prussian-blue)
}

.extra-space {
  margin-bottom: 4rem;
}

.form {
  background-color: var(--prussian-blue);
  box-shadow: var(--shadow-elevation-high);
  height: min-content;
  margin: 0 auto 5em auto;
  padding: 5em;
  width: 55%;
  border: 10px solid white;
  transition: all 400ms ease-in-out;
}

.form:hover {
  background-color: white;
  box-shadow: var(--shadow-elevation-high);
  height: min-content;
  margin: 0 auto 5em auto;
  padding: 5em;
  width: 55%;
  border: 10px solid var(--prussian-blue);
  transition: all 400ms ease-in-out;
}

.four-images {
  width: 101%;
  height: 50vh;
  margin: 0em 0em;
  object-fit: cover;
  transition: all 500ms ease-out;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.four-image-image-parent-grid {
  display: grid;
  grid-template: repeat(13, 1fr) / repeat(13, 1fr);
}

.four-images-container {
  overflow: hidden;
  max-height: 50vh;
  display: inline-block;
  /* max-width: 15.8vw; */
  position: relative;
}

.four-images:hover {
  width: 100%;
  height: 51vh;
  margin: 0em 0em;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 500ms ease-out;
}

.four-images-container-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  overflow: hidden;
  max-height: 50vh;
  position: relative;
}

.four-images-container-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  overflow: hidden;
  max-height: 50vh;
  position: relative;
}

.four-images-container-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: hidden;
  max-height: 50vh;
  position: relative;
}

.four-images-container-4 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  overflow: hidden;
  max-height: 50vh;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fill, min-max(100px, 1fr));
  grid-template-rows: 1fr;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 20;
}

.logo {
  border: 3px solid var(--prussian-blue);
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  height: auto;
  margin-left: 1.5em;
  opacity: 1;
  min-width: 150px;
  margin: 2rem 0 0 3rem;
  position: relative;
  width: 14.5vw;
  z-index: 19;
}

.margin-bottom {
  margin-bottom: 4em;
}

.med-bright-blue {
  color: var(--med-bright-blue);
}

.menu {
  grid-column: 1 / -1;
  margin: 0;
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 21;
  left: 0;
}

.menu-columns {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0px;
}

.mission-div {
  transition-duration: .2s;
  transition-property: width;
  transition-timing-function: ease-in-out;
  width: 100%;
}

.mission-div:focus {
  width: 150%;
}

.mission-div:hover {
  width: 150%;
}

.mission-photos {
  height: 120vh;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.mission-section-container {
  box-shadow: inset 0px 0px 0px 0px var(--prussian-blue);
  color: var(--prussian-blue);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  position: relative;
  text-align: left;
  transition: color 2s ease-in-out, box-shadow 2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3D(0, 0, 0);
  width: 50%;
}

.mission-section-container-hover {
  color: var(--orange);
}

.mission-section-background {
  left: -860px;
  height: 16vw;
  width: 860px;
  background-image: url(../assets/trianglify-lowres.png);
  background-size: 1000px 400px;
  position: absolute;
  top: 0px;
  z-index: -10;
  transition: all 1s ease-in-out;
}

.mission-section-background-hover {
  left: 0px;
  height: 16vw;
  width: 50vw;
  background-image: url(../assets/trianglify-lowres.png);
  background-size: 1000px 400px;
  position: absolute;
  top: 0px;
  z-index: -10;
  transition: all 1s ease-in-out;
}

.mouse-house {
  border-top: 4px solid var(--intense-purple);
  border-right: 3px solid var(--intense-purple);
  border-bottom: 2px solid var(--intense-purple);
  border-left: 1px solid var(--intense-purple);
  mix-blend-mode: difference;
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--shadow-elevation-high);
  pointer-events: none;
  height: 100px;
  width: 100px;
  z-index: 500;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 38%, rgba(255, 255, 255, 1) 100%);
  animation: 10s linear infinite;
  animation-name: rotate;
}

.nav-hover-javascript {
  background-color: rgba(255, 255, 255, .1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  text-shadow: -1px 1px 4px rgba(0, 48, 73, .65);
  height: fit-content;
  margin: 0;
  padding: 1em 0em;
  text-align: center;
  width: 100%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.nav-link {
  color: var(--orange);
  font-family: Ultima, sans-serif;
  font-size: 2.8rem;
  width: 100%;
}

.nav-link-2 {
  border: 2px solid transparent;
  border-radius: 8px;
  height: fit-content;
  margin: 0;
  padding: 1em 0em;
  text-align: center;
  width: 100%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.nav-link-2:hover {
  background-color: rgba(255, 255, 255, .1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  text-shadow: -1px 1px 4px rgba(11, 77, 127, .65);
  height: fit-content;
  margin: 0;
  padding: 1em 0em;
  text-align: center;
  width: 100%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.orange {
  color: var(--orange);
}

.pause {
  max-width: 50px;
  max-height: 50px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNMTEgMjRIM1YwaDhabS01LTNoMlYzSDZaTTIxIDI0aC04VjBoOFptLTUtM2gyVjNoLTJaIiBmaWxsPSIjZjc3ZjAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBvcGFjaXR5PSIxIj48L3BhdGg+PC9nPjwvc3ZnPg==)
}

.play {
  max-width: 50px;
  max-height: 50px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNNSAyMy43NlYuMjc5bDE0LjAyOSA4Ljk1NmEzLjI3NSAzLjI3NSAwIDAgMS0uMDA4IDUuNTM5Wk04IDUuNzU0djEyLjUxOWw5LjQxMi02LjAzMmEuMjY0LjI2NCAwIDAgMCAuMTQtLjIzOS4yNTcuMjU3IDAgMCAwLS4xMjktLjIzMloiIGZpbGw9IiNmNzdmMDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIG9wYWNpdHk9IjEiPjwvcGF0aD48L2c+PC9zdmc+)
}

.play-pause1 {
  padding: 1.5em 3em;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  background: center/ 40% no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNMTEgMjRIM1YwaDhabS01LTNoMlYzSDZaTTIxIDI0aC04VjBoOFptLTUtM2gyVjNoLTJaIiBmaWxsPSIjZjc3ZjAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBvcGFjaXR5PSIxIj48L3BhdGg+PC9nPjwvc3ZnPg==);
  border-radius: 10px;
  box-shadow: 3px 3px 6px #646464,
    -3px -3px 6px #a3a3a3;
  position: absolute;
  bottom: 6%;
  right: 2%;
  z-index: 100;
  border: 1px solid var(--orange);
  transition: all 250ms ease;
}

.play-pause2 {
  padding: 1.5em 3em;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  background: center/ 40% no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNNSAyMy43NlYuMjc5bDE0LjAyOSA4Ljk1NmEzLjI3NSAzLjI3NSAwIDAgMS0uMDA4IDUuNTM5Wk04IDUuNzU0djEyLjUxOWw5LjQxMi02LjAzMmEuMjY0LjI2NCAwIDAgMCAuMTQtLjIzOS4yNTcuMjU3IDAgMCAwLS4xMjktLjIzMloiIGZpbGw9IiNmNzdmMDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIG9wYWNpdHk9IjEiPjwvcGF0aD48L2c+PC9zdmc+);
  border-radius: 10px;
  box-shadow: 3px 3px 6px #646464,
    -3px -3px 6px #a3a3a3;
  position: absolute;
  bottom: 6%;
  right: 2%;
  z-index: 100;
  border: 1px solid var(--orange);
  transition: all 250ms ease;
}

.play-pause1:hover,
.play-pause2:hover {
  border: 1px solid white;
  transition: all 250ms ease;
  transform: scale(1.10)
}

.product-container {
  margin: 12em auto;
  display: grid;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.products-section-background {
  left: 956px;
  height: 16vw;
  width: 951px;
  background-image: url(../assets/trianglify-lowres.png);
  background-size: 1000px 400px;
  position: absolute;
  z-index: -10;
  transition: all 1s ease-in-out;
}

.products-section-background-hover {
  left: 0px;
  height: 16vw;
  width: 50vw;
  background-image: url(../assets/trianglify-lowres.png);
  background-size: 1000px 400px;
  position: absolute;
  z-index: -10;
  transition: all 1s ease-in-out;
  top: 0px;
}

.products-section-container-hover {
  color: var(--orange);
  background-image: url(../assets/trianglify-lowres.png);
  background-size: 1000px 400px;
  transition: all 1s ease-in-out;
}

.product-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 47%;
  height: 100vh;
  margin: 0px;
  justify-content: center;
}

.section {
  display: contents;
  height: min-content;
  margin: 0 0 2em;
  position: relative;
  width: 100%;
}

.section>.mission-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: min-content;
  justify-content: center;
}

.see-product {
  width: clamp(150px, 50%, 250px);
  height: 50px;
  border-radius: 5px;
  /* border: 5px solid white; */
  opacity: .6;
  margin: auto;
  background-color: rgba(255, 255, 255, .3);
  border: 3px solid white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--maximum-red);
  box-shadow: 1.7px 1.3px 2.2px rgba(0, 0, 0, 0.02), 4.2px 3.1px 5.3px rgba(0, 0, 0, 0.028), 7.9px 5.8px 10px rgba(0, 0, 0, 0.035), 14.1px 10.3px 17.9px rgba(0, 0, 0, 0.042), 26.3px 19.2px 33.4px rgba(0, 0, 0, 0.05), 63px 46px 80px rgba(0, 0, 0, 0.07);
  transition: all 500ms ease-in-out;
  grid-column: 1 / -1;
  grid-row: 10 / 12;
}

.see-product:hover {
  border-radius: 5px;
  border: 5px solid white;
  opacity: .6;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 18;
  border: 3px solid white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  box-shadow: 1.7px 1.3px 2.2px rgba(0, 0, 0, 0.02), 4.2px 3.1px 5.3px rgba(0, 0, 0, 0.028), 7.9px 5.8px 10px rgba(0, 0, 0, 0.035), 14.1px 10.3px 17.9px rgba(0, 0, 0, 0.042), 26.3px 19.2px 33.4px rgba(0, 0, 0, 0.05), 63px 46px 80px rgba(0, 0, 0, 0.07);
  transition: all 500ms ease-in-out;
}

.triangle {
  height: 200px;
  width: 800px;
}

.video {
  height: auto;
  position: relative;
  top: -20px;
  width: 99vw;
  z-index: -1;
}

.video-container {
  position: relative;
}

/* CSS based on media queries */

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}

@media (max-width: 550px) {
  .entry-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  input,
  select {
    color: var(--orange);
    font-size: 1rem;
    margin: 1rem;
    padding: 8px;
    width: 100%;
    transition: all 250ms ease-in-out;
    border-radius: 6px;
    border: 3px solid var(--orange);
  }

  label {
    color: var(--orange);
    font-family: study, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    width: 100%;
    padding: 0px 0px 0px 1em;
  }

  #submit {
    border-radius: 5px;
    border: 3px solid var(--orange);
    padding: 1rem 1.75rem;
    background-color: var(--orange);
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    width: fit-content;
    padding: 1rem 1.75rem;
    color: white;
    box-shadow: 1.7px 1.3px 2.2px rgb(0 0 0 / 2%), 4.2px 3.1px 5.3px rgb(0 0 0 / 3%), 7.9px 5.8px 10px rgb(0 0 0 / 4%), 14.1px 10.3px 17.9px rgb(0 0 0 / 4%), 26.3px 19.2px 33.4px rgb(0 0 0 / 5%), 63px 46px 80px rgb(0 0 0 / 7%);
  }
}

@media (max-width: 650px) {
  a {
    padding: 0em 0em 2em 0em;
  }

  .alien-icons {
    display: block;
    width: 100%;
    height: fit-content;
    margin: 5px;
  }

  .contacts-section>.form {
    margin: 0em;
  }

  form {
    margin: 0em;
  }

  .section {
    margin: 0em;
  }
}

@media (max-width: 800px) {
  .logo {
    transition: opacity 200ms, display 200ms;
    display: none;
    opacity: 0;
  }

  #play-pause {
    display: none;
  }
}

@media (max-width: 950px) {

  .label {
    font-size: 1.25rem;
  }

  .mission-div:hover {
    width: 400%;
  }

  .mission-div-touch {
    width: 400%;
  }

  .mission-div:focus {
    width: 400%;
  }

  p {
    color: var(--prussian-blue);
    font-family: study, serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 100;
    margin: 4em auto auto auto;
    max-width: 90vw;
    line-height: 1.5;
  }

  .product-container {
    display: block;
    margin: 12em auto;
  }

  .product-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: auto;
    margin: 0px;
    width: 100%;
    justify-content: center;
  }

  .video {
    height: auto;
    width: 100vw;
    z-index: -1;
  }

  .video-container {
    min-height: fit-content;
  }

}

@media (max-width: 1250px) {
  .header {
    display: block;
    top: 0;
  }

  .menu-columns {
    padding: 0px;
    display: block;
  }

  #nav-bar>ul:nth-child(1),
  #nav-bar>ul:nth-child(1) {
    border-top: 0px solid transparent;
  }

  .nav-link-2 {
    padding: 1em 0em;
    height: fit-content;
  }


}

@media (max-width: 1350px) {
  .form {
    background-color: var(--prussian-blue);
    box-shadow: var(--shadow-elevation-high);
    height: min-content;
    margin: 0 auto 5em auto;
    padding: 1em;
    width: 100%;
    border: 10px solid white;
    transition: all 400ms ease-in-out;
  }

  .form:hover {
    background-color: white;
    box-shadow: var(--shadow-elevation-high);
    height: min-content;
    margin: 0 auto 5em auto;
    padding: 1em;
    width: 100%;
    border: 10px solid var(--prussian-blue);
    transition: all 400ms ease-in-out;
  }

  input::placeholder {
    font-size: .9rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}