:root {
  /* first test color palette */
  --brown: #854D04;
  --green: #30D158;
  --light-brown: #D0821C; 
  --purple: #5C06D1;
  --dark-purple: #3e0b85;
  /* second color palette */
  --bright-blue: #169AFF; 
  --less-bright-blue: #148CE8; 
  --med-bright-blue: #148AE5; 
  --dark-blue: #0B4D7F;
  --dark-dark-blue: #062740;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Ultima;
  src: url(../assets/ultima-modern-futuristi-font/mbf-ultima-v4/mbf_ultima.woff);
}

a  {
  text-decoration: none;
  color: slategray;
}

.a {
  grid-column: 1 / 1;

}

.animation {
  -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
}

.b {
  grid-column: 2 / 2;
}

body {
  border: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill0, min-max(200px, 1fr));
  margin: 0;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.brown {
  color: var(--brown);
}

.bright-blue {
  color: var(--bright-blue)
}

.c {
  grid-column: 3 / 3;
}

.ca {
  background-color: transparent;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  color: white;
  display: block;
  height: 5vh;
  left: 20%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  z-index: 10;
}

.ca:hover, .ca:focus {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
}

.section > .mission-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: min-content;
  justify-content: center;
}

.call-to-action--title {
  transition: color 2s ease-in-out, box-shadow 2s ease-in-out;
  margin: 20vh 0 0 0;
}

.mission-section-container {
  margin: 0 -.25rem;
  padding: 0 .25rem;
  width: 50%; 
  text-align: left;
  color: var(--dark-dark-blue);
  box-shadow: inset 0px 0px 0px 0px var(--dark-dark-blue);
  transition: color 2s ease-in-out, box-shadow 2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3D(0, 0, 0);
}

.catalog-section-container {
  margin: 0 -.25rem;
  padding: 0 .25rem;
  margin-left: 50%;
  width: 50%;
  text-align: left;
  color: var(--dark-dark-blue);
  box-shadow: inset 0px 0px 0px 0px var(--dark-dark-blue);
  transition: color 2s ease-in-out, box-shadow 2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3D(0, 0, 0);
}

.mission-section-container-hover {
  box-shadow: inset 3000px 0px 0px 0px var(--dark-dark-blue);
  color: white;
}

.products-section-container-hover {
  box-shadow: inset 0px 0px 0px 3000px var(--dark-dark-blue);
  color: white;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(-2px);
  z-index: 0;
}

.dark-blue{
  color: var(--dark-blue);
}

.dark-dark-blue {
  color: var(--dark-dark-blue)
}

.form {
  background-color: white;
  box-shadow: aquamarine;
  box-shadow: 0px 2px 17px 0px rgb(0 0 0 / 66%);
  -webkit-box-shadow: 0px 2px 17px 0px rgb(0 0 0 / 66%);
  -moz-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.66);
  -webkit-box-shadow: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(4,0,95,1) 33%, rgba(123,0,253,1) 68%, rgba(2,0,36,1) 96%);
  -webkit-box-shadow: 0px 2px 17px 0px rgb(139 84 84 / 50%);
  height: 43vh;
  margin: 0 auto 5em auto;
  padding: 5em;
  width: 55%;
}

h1 {
  font-family: Ultima;
  font-size: 6rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fill, min-max(100px, 1fr))
  grid-template-rows: 1fr;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 20;
}

html {
  scroll-behavior: smooth;
}

label, input {
  color: #262626;
  font-family: Ultima, sans-serif;
  font-size: 1.80rem;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  padding: 17px;
  text-decoration: none;
  width: min-content;
}

.logo {
  height: auto;
  margin-left: 1.5em;
  width: 25%;
}

.less-bright-blue {
  color: var(--less-bright-blue);
}

.med-bright-blue {
  color: var(--med-bright-blue);
}

.menu {
  grid-column: 7 / 10;
  margin: 0;
  width: 100%;
}

.menu-columns {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}

.mission-photos {
  height: 120vh;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.mission-div {
  transition-duration: .2s;
  transition-property: width;
  transition-timing-function: ease-in-out;
  width: 100%;
}

.mission-div:hover {
  width: 150%;
}

.mission-div:focus {
  width: 150%;
}

.nav-link {
  color: white; 
  font-family: Ultima, sans-serif;
  font-size: 2.8rem;
  margin: 25px;
  width: 100%;
}

.nav-link-2 {
  border: 2px solid transparent;
  border-radius: 8px;
  height: 7vh;
  margin: 0;
  padding: .25em;
  text-align: center;
  width: 100%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.nav-link-2:hover {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  height: 7vh;
  margin: 0;
  padding: .25em;
  text-align: center;
  width: 100%;
}

.nav-link-2-hover {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  height: 7vh;
  margin: 0;
  padding: .25em;
  text-align: center;
  width: 100%;
}

.nav-hover-javascript {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255,255,255,.1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.64);
  height: 7vh;
  margin: 0;
  padding: .25em;
  text-align: center;
  width: 100%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}


p {
  color: #4f4f4f;
  font-family: study, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  margin: 4em auto auto auto;
  max-width: 597px;
}

.row-1 {
  grid-row: auto / span 1;
}

.row-2 {
  grid-column: auto / span 8;
  grid-row: auto / span 3;
}


.row-3 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-4 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-5 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-6 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-7 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-8 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}

.section {
  display: contents;
  height: 20vh;
  margin: 0 0 2em;
  position: relative;
  width: 100%;
}

ul {
  list-style-type: none;
}

.video {
  height: auto;
  position: relative;
  top: -20px;
  width: 100vw;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}