* {
  box-sizing: border-box;
}

a  {
  color: white;
  display: flex;
  font-family: battery-park,sans-serif;
  font-size: 2.80em;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  text-decoration: none;
  width: 100%;
}


.a {
  grid-column: 1 / 1;

}

.animation {
  -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}

.b {
  grid-column: 2 / 2;
}

body {
  border: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill0, min-max(200px, 1fr));
  margin: 0;
  width: 100%;
}

.c {
  grid-column: 3 / 3;
}

.ca {
  background-color: transparent;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  color: white;
  display: block;
  height: 5vh;
  left: 20%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  z-index: 10;
}

.ca:hover, .ca:focus {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(-2px);
  z-index: 0;
}

.form {
    background-color: white;
    border-radius: 37px;
    box-shadow: aquamarine;
    box-shadow: 0px 2px 17px 0px rgb(0 0 0 / 66%);
    -webkit-box-shadow: 0px 2px 17px 0px rgb(0 0 0 / 66%);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.66);
    -webkit-box-shadow: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(4,0,95,1) 33%, rgba(123,0,253,1) 68%, rgba(2,0,36,1) 96%);
    -webkit-box-shadow: 0px 2px 17px 0px rgb(255 0 0 / 50%);
    height: 30vh;
    margin: 0 auto 5em auto;
    padding: 5em;
    width: 55%;
}

h1 {
  font-size: 3em;
  margin: 3em auto 3em auto;
  width: 28%;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fill, min-max(100px, 1fr))
  grid-template-rows: 1fr;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 20;
}

html {
  scroll-behavior: smooth;
}


label, input {
  color: #262626;
  font-family: battery-park,sans-serif;
  font-size: 1.80em;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  padding: 17px;
  text-decoration: none;
  width: min-content;
}

.logo {
  height: 9em;
  margin: 2em;
  width: auto;
}

.menu {
  grid-column: 7 / 10;
  margin: 0;
  width: 100%;
}

.menu-columns {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}

.nav-link {
  border: 2px solid transparent;
  border-radius: 8px;
  height: 38%;
  margin: 0;
  padding: .25em;
  text-align: center;
  width: 100%;
}

.nav-link:hover {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  text-align: center;
}

.nav-hover-javascript {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255,255,255,.1);
  border: 2px solid;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  color: rgb(255, 0, 0);
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.mission-photos {
  height: 120vh;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.mission-div:hover, .mission-div:focus {
  width: 150%;
}

.mission-div {
  transition-duration: .2s;
  transition-property: width;
  transition-timing-function: ease-in-out;
  width: 100%;

}

.call-to-action > .section > .mission-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 150vh;
  justify-content: center;
}

p {
  color: #4f4f4f;
  font-family: study, serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 100;
  margin: 0 auto 2em auto;
  width: 50%;
}

.row-1 {
  grid-row: auto / span 1;
}

.row-2 {
  grid-column: auto / span 8;
  grid-row: auto / span 3;
}


.row-3 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-4 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-5 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-6 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-7 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}


.row-8 {
  grid-column: auto / span 8;
  grid-row: auto/ span 3;
}

.section {
  display: contents;
  height: 20vh;
  margin: 0 0 2em;
  position: relative;
  width: 100%;
}

ul {
  list-style-type: none;
}

.video {
  height: auto;
  position: relative;
  top: -20px;
  width: 100vw;
  z-index: -1;
}
